*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    min-height: fit-content;
    background-color: black;
    font-family: Poppins;
}
::-webkit-scrollbar {
    display: none; /* For Chrome, Safari */
}
main{
    height: 100vh;
    min-height: 30rem;
    width: 100vw;
    min-width: 20rem;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width:fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    
}
input{
    height: 3rem;
    width: 15rem;
}