<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleSheets/addItem.css">
</head>
<body>
    <main>
        <form action="/addItem" method="post">
        
            <input type="text" name="imageUrl" placeholder="Enter image url" required>
            <input type="text" name="name" placeholder="Enter product name" required>
            <input type="text" name="fakePrice" placeholder="Enter fake price" required>
            <input type="text" name="realPrice" placeholder="Enter real price" required>
            <input type="text" name="productCategary" placeholder="Enter product categary" required>
            <input type="submit" value="Add This">
        </form>
    </main>
    
</body>
</html>