<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleSheets/login.css">
</head>
<body>
    <main>
        <h1>Formate Password</h1>
        <form action="/formate" method="post">
            <input type="tel" name="email" id="" placeholder="email id" required>
            <input type="password" name="password" id="" placeholder="Password" required>
            <input type="password" name="confirmPassword" id="" placeholder="Confirm Password" required>
            <input type="submit" value="Reset">
        </form>
        
    </main>
    <script src="/javaScripts/nav.js"></script>

</body>
</html>