<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleSheets/printoutOrder.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Pattaya&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="footer">
            <div class="footerItem home">
                <img src="/images/home (1).png" alt="">
                <p>Home</p>
            </div>
            <div class="footerItem profile">
                <img src="/images/user (1).png" alt="">
                <p>Profile</p>
            </div>
            <div class="footerItem cart">
                <img src="/images/shopping-cart.png" alt="">
                <p>Cart</p>
            </div>
            <div class="footerItem menu">
                <img src="/images/menu.png" alt="">
                <p>Menu</p>
            </div>
            <div class="footerItem support">
                <img src="/images/customer-service.png" alt="">
                <p>Support</p>
            </div>
        </div>

        <div class="header">
            <div class="back icon">
                <img src="/images/back.png" alt="">
            </div>
            <p>My Order</p>
            <div class="headerSearchIcon icon">
                <img src="/images/searchIcon.png" alt="">
            </div>
            <div class="cartIcon icon">
                <img src="/images/shopping-cart.png" alt="">
            </div>
        </div>
        <div class="searchBar">
            <input type="text" name="" id="input" placeholder="Search">
            <div class="searchIcon"></div>
        </div>
       
            <%printout.forEach(function(val){%>
                
                <div class="orderDetail">
                   <div class="orderDetails">
                    <p><%=val.name%></p>
                    <p>token:- <%=val.tokenNumber%></p>
                   </div>
                   <%if(user.mobileNumber=="7898488935"){%>
                    <%if(val.status==false){%>
                        <a href="/printoutOrderConfirm/<%=val.tokenNumber%>">Done</a>
                       <%}else{%>
                        <p style="color:green">Order Delivered</p>
                       <%}%>
                  <% }else if(val.status==true){%>
                    <p style="color:green">Order Delivered</p>
                  <%}%>

                </div>
            <%})%>
      
 
       

       

        <p class="noMoreOrder">No more order</p>
        <div class="fake"></div>
    </main>
    <script src="/javaScripts/nav.js"></script>
    <script src="/javaScripts/order.js"></script>

</body>
</html>