<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleSheets/support.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Pattaya&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="footer">
            <div class="footerItem home">
                <img src="/images/home (1).png" alt="">
                <p>Home</p>
            </div>
            <div class="footerItem profile">
                <img src="/images/user (1).png" alt="">
                <p>Profile</p>
            </div>
            <div class="footerItem cart">
                <img src="/images/shopping-cart.png" alt="">
                <p>Cart</p>
            </div>
            <div class="footerItem menu">
                <img src="/images/menu.png" alt="">
                <p>Menu</p>
            </div>
            <div class="footerItem support">
                <img src="/images/customer-service.png" alt="">
                <p>Support</p>
            </div>
        </div>

        <div class="header">
            <div class="back icon">
                <img src="/images/back.png" alt="">
            </div>
            <p>Customer Support</p>
            
            <div class="cartIcon icon">
                <img src="/images/shopping-cart.png" alt="">
            </div>
        </div>
        <div class="issueCover">
            <div class="issueHeading">What issue are you facing?</div>
            <details>
                <summary>I want to contact support team?</summary>
                <p>-> You can contact with suppost team by a number 7898488935</p>
            </details>
            <details>
                <summary>I want to manage my order</summary>
                <p>-> You can change the date of delivery</p>
            </details>
            <details>
                <summary>My issue is not mentioned</summary>
                <p>-> please contact support team  or fill the feedback form </p>
            </details>
        </div>
        
    </main>
    <script src="/javaScripts/nav.js"></script>
    <script src="/javaScripts/support.js"></script>
</body>
</html>